{% extends 'layout.html.twig' %}

{% block title %}Учет взносов{% endblock %}

{% block content %}

    <div class="container-fluid">
        {# Выводим местные отделения #}
        <h1>
            Учет взносов (всего:
            {{ accounting|length }})
        </h1>

        <div class="row">
            <div class="col-6">
                <h3>
                    <select id="quarter_link">
                        <option value="{{ path('accounting_new', {'po': po.id, 'year': year, 'quarter': 1}) }}" {% if quarter == 1 %} selected="selected" {% endif %}>1 квартал</option>
                        <option value="{{ path('accounting_new', {'po': po.id, 'year': year, 'quarter': 2}) }}" {% if quarter == 2 %} selected="selected" {% endif %}>2 квартал</option>
                        <option value="{{ path('accounting_new', {'po': po.id, 'year': year, 'quarter': 3}) }}" {% if quarter == 3 %} selected="selected" {% endif %}>3 квартал</option>
                        <option value="{{ path('accounting_new', {'po': po.id, 'year': year, 'quarter': 4}) }}" {% if quarter == 4 %} selected="selected" {% endif %}>4 квартал</option>
                    </select>
                    {# {{ quarter }} квартал  #}
                    {{ year }}
                    г.
                    <b>{{ po.title }}
                        ({{ po.id }})</b>
                </h3>
            </div>
            <div class="col-6 text-right">
                <h3>
                    <a href="{{ path('accounting_new', {'po': po.id, 'year': year, 'quarter': quarter}) }}" class="btn btn-success btn-sm">
                        Обновить список ЧП
                    </a>
                </h3>
            </div>
        </div>

        <form method="post" id="accounting_form">

            <table class="table table-sm table-allign-middle  table1  accounting" style="width:auto">
                <tr>
                    <th rowspan="2">Фамилия</th>
                    <th rowspan="2">Имя</th>
                    <th rowspan="2">Отчество</th>
                    <th colspan="4">Заявленная сумма взноса</th>
                    <th colspan="4">Сумма взноса</th>
                    <th rowspan="2">Дата взноса</th>
                    <th colspan="4">Дебет/Кредит</th>
                </tr>

                <tr>
                    <th>1 кв</th>
                    <th>2 кв</th>
                    <th>3 кв</th>
                    <th>4 кв</th>
                    <th>1 кв</th>
                    <th>2 кв</th>
                    <th>3 кв</th>
                    <th>4 кв</th>
                    <th>1 кв</th>
                    <th>2 кв</th>
                    <th>3 кв</th>
                    <th>4 кв</th>
                </tr>

                {% for item in accounting %}
                    <tr>
                        <td>
                            <a href="{{ path('member_read', {'id': item.member.id}) }}" target="_blank">
                                {{ item.member.lastName }}
                            </a>
                        </td>
                        <td>{{ item.member.firstName }}</td>
                        <td>{{ item.member.middleName }}</td>

                        {# Заявленная сумма в квартал #}
                        <td class="align-top"><input type="text" id="declared1-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="declared1" name="form[{{ loop.index0 }}][paymentDeclared1]" value="{{ item.paymentDeclared1 }}" {% if quarter != 1 %} readonly="readonly" {% endif %}></td>
                        <td class="align-top"><input type="text" id="declared2-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="declared2" name="form[{{ loop.index0 }}][paymentDeclared2]" value="{{ item.paymentDeclared2 }}" {% if quarter != 2 %} readonly="readonly" {% endif %}></td>
                        <td class="align-top"><input type="text" id="declared3-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="declared3" name="form[{{ loop.index0 }}][paymentDeclared3]" value="{{ item.paymentDeclared3 }}" {% if quarter != 3 %} readonly="readonly" {% endif %}></td>
                        <td class="align-top"><input type="text" id="declared4-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="declared4" name="form[{{ loop.index0 }}][paymentDeclared4]" value="{{ item.paymentDeclared4 }}" {% if quarter != 4 %} readonly="readonly" {% endif %}></td>

                        {# Сумма взноса за квартал #}
                        <td class="align-top">
                            {# Показываем поле ввода если текущий квартал активен, статус = ЧП и ПО соответствуе текущему #}
                            {% if
                                quarter == 1 and
                                item.po == po.id and
                                item.member.status == 3 and
                                (
                                    item.po1 is null or
                                    (item.po1 != null and item.po1 == po.id)
                                )
                            %}
                                <input type="text" id="payment1-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="payment1" name="form[{{ loop.index0 }}][paymentQuarter1]" value="{{ item.paymentQuarter1 }}">
                            {% else %}
                                {# Сумма взнаса текстом #}
                                {{ item.paymentQuarter1 }}
                            {% endif %}

                            {# Сообщение об измененном статусе #}
                            {% if item.status1 is not null and item.status1 != 3 %}
                                <br/>
                                <small class="text-danger">{{ item.member.statusList[item.status1] is defined ? item.member.statusList[item.status1] : '' }}</small>
                            {% endif %}

                            {# Сообщение об измененном ПО #}
                            {% if item.po1 is not null and item.po1 != item.po %}
                                <br/>
                                <small class="text-secondary">Смена ПО:{{ item.po }}</small>
                            {% endif %}

                            {# Сообщение об оплате в другом ПО #}
                            {% if item.po1 is not null and item.po1 != po.id %}
                                <br/>
                                <small class="text-secondary">Уплачено в ПО:{{ item.po1 }}</small>
                            {% endif %}
                        </td>

                        <td class="align-top">
                            {# Показываем поле ввода если текущий квартал активен, статус = ЧП и ПО соответствуе текущему #}
                            {% if
                                quarter == 2 and
                                item.po == po.id and
                                item.member.status == 3 and
                                (
                                    item.po2 is null or
                                    (item.po2 != null and item.po2 == po.id)
                                )
                            %}
                                <input type="text" id="payment2-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="payment2" name="form[{{ loop.index0 }}][paymentQuarter2]" value="{{ item.paymentQuarter2 }}">
                            {% else %}
                                {# Сумма взнаса текстом #}
                                {{ item.paymentQuarter2 }}
                            {% endif %}

                            {# Сообщение об измененном статусе #}
                            {% if item.status2 is not null and item.status2 != 3 %}
                                <br/>
                                <small class="text-danger">{{ item.member.statusList[item.status2] is defined ? item.member.statusList[item.status2] : '' }}</small>
                            {% endif %}

                            {# Сообщение об измененном ПО #}
                            {% if item.po2 is not null and item.po2 != item.po %}
                                <br/>
                                <small class="text-secondary">Смена ПО:{{ item.po }}</small>
                            {% endif %}

                            {# Сообщение об оплате в другом ПО #}
                            {% if item.po2 is not null and item.po2 != po.id %}
                                <br/>
                                <small class="text-secondary">Уплачено в ПО:{{ item.po2 }}</small>
                            {% endif %}
                        </td>

                        <td class="align-top">
                            {# Показываем поле ввода если текущий квартал активен, статус = ЧП и ПО соответствуе текущему #}
                            {% if
                                quarter == 3 and
                                item.po == po.id and
                                item.member.status == 3 and
                                (
                                    item.po3 is null or
                                    (item.po3 != null and item.po3 == po.id)
                                )
                            %}
                                <input type="text" id="payment3-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="payment3" name="form[{{ loop.index0 }}][paymentQuarter3]" value="{{ item.paymentQuarter3 }}">
                            {% else %}
                                {# Сумма взнаса текстом #}
                                {{ item.paymentQuarter3 }}
                            {% endif %}

                            {# Сообщение об измененном статусе #}
                            {% if item.status3 is not null and item.status3 != 3 %}
                                <br/>
                                <small class="text-danger">{{ item.member.statusList[item.status3] is defined ? item.member.statusList[item.status3] : '' }}</small>
                            {% endif %}

                            {# Сообщение об измененном ПО #}
                            {% if item.po3 is not null and item.po3 != item.po %}
                                <br/>
                                <small class="text-secondary">Смена ПО:{{ item.po }}</small>
                            {% endif %}

                            {# Сообщение об оплате в другом ПО #}
                            {% if item.po3 is not null and item.po3 != po.id %}
                                <br/>
                                <small class="text-secondary">Уплачено в ПО:{{ item.po3 }}</small>
                            {% endif %}
                        </td>

                        <td class="align-top">
                            {# Показываем поле ввода если текущий квартал активен, статус = ЧП и ПО соответствуе текущему #}
                            {% if
                                quarter == 4 and
                                item.po == po.id and
                                item.member.status == 3 and
                                (
                                    item.po4 is null or
                                    (item.po4 != null and item.po4 == po.id)
                                )
                            %}
                                <input type="text" id="payment4-{{ loop.index0 }}" data-index="{{ loop.index0 }}" data-field="payment4" name="form[{{ loop.index0 }}][paymentQuarter4]" value="{{ item.paymentQuarter4 }}">
                            {% else %}
                                {# Сумма взнаса текстом #}
                                {{ item.paymentQuarter4 }}
                            {% endif %}

                            {# Сообщение об измененном статусе #}
                            {% if item.status4 is not null and item.status4 != 3 %}
                                <br/>
                                <small class="text-danger">{{ item.member.statusList[item.status4] is defined ? item.member.statusList[item.status4] : '' }}</small>
                            {% endif %}

                            {# Сообщение об измененном ПО #}
                            {% if item.po4 is not null and item.po4 != item.po %}
                                <br/>
                                <small class="text-secondary">Смена ПО:{{ item.po }}</small>
                            {% endif %}

                            {# Сообщение об оплате в другом ПО #}
                            {% if item.po4 is not null and item.po4 != po.id %}
                                <br/>
                                <small class="text-secondary">Уплачено в ПО:{{ item.po4 }}</small>
                            {% endif %}
                        </td>

                        {#
                        <td{% if quarter != 1 %} class="d-none" {% endif %}><input type="date" class="date" name="form[{{ loop.index0 }}][dateQuarter1]" value="{{ item.dateQuarter1 is empty ? " " : item.dateQuarter1|date('Y-m-d') }}"></td>
                        <td{% if quarter != 2 %} class="d-none" {% endif %}><input type="date" class="date" name="form[{{ loop.index0 }}][dateQuarter2]" value="{{ item.dateQuarter2 is empty ? " " : item.dateQuarter2|date('Y-m-d') }}"></td>
                        <td{% if quarter != 3 %} class="d-none" {% endif %}><input type="date" class="date" name="form[{{ loop.index0 }}][dateQuarter3]" value="{{ item.dateQuarter3 is empty ? " " : item.dateQuarter3|date('Y-m-d') }}"></td>
                        <td{% if quarter != 4 %} class="d-none" {% endif %}><input type="date" class="date" name="form[{{ loop.index0 }}][dateQuarter4]" value="{{ item.dateQuarter4 is empty ? " " : item.dateQuarter4|date('Y-m-d') }}"></td>
                        #}

                        <td{% if quarter != 1 %} class="d-none" {% endif %}>{{ item.dateQuarter1 is empty ? " " : item.dateQuarter1|date('Y-m-d') }}</td>
                        <td{% if quarter != 2 %} class="d-none" {% endif %}>{{ item.dateQuarter2 is empty ? " " : item.dateQuarter2|date('Y-m-d') }}</td>
                        <td{% if quarter != 3 %} class="d-none" {% endif %}>{{ item.dateQuarter3 is empty ? " " : item.dateQuarter3|date('Y-m-d') }}</td>
                        <td{% if quarter != 4 %} class="d-none" {% endif %}>{{ item.dateQuarter4 is empty ? " " : item.dateQuarter4|date('Y-m-d') }}</td>


                        {# Считаем +/- #}

                        {# Дебет/Кредит 1 квартал #}
                        {% set debet1 =  (item.paymentQuarter1 - item.paymentDeclared1)%}
                        {% if debet1 > 0 %}
                            <td class="text-right text-success">+{{ debet1 }}</td>
                        {% elseif debet1 < 0 %}
                            <td class="text-right text-danger">{{ debet1 }}</td>
                        {% else %}
                            <td class="text-right">{{ debet1 }}</td>
                        {% endif %}

                        {# Дебет/Кредит 2 квартал #}
                        {% set debet2 =  (item.paymentQuarter1 - item.paymentDeclared1) +
                                    (item.paymentQuarter2 - item.paymentDeclared2)%}
                        {% if debet2 > 0 %}
                            <td class="text-right text-success">+{{ debet2 }}</td>
                        {% elseif debet2 < 0 %}
                            <td class="text-right text-danger">{{ debet2 }}</td>
                        {% else %}
                            <td class="text-right">{{ debet2 }}</td>
                        {% endif %}

                        {# Дебет/Кредит 3 квартал #}
                        {% set debet3 =  (item.paymentQuarter1 - item.paymentDeclared1) +
                                    (item.paymentQuarter2 - item.paymentDeclared2) +
                                    (item.paymentQuarter3 - item.paymentDeclared3)%}
                        {% if debet3 > 0 %}
                            <td class="text-right text-success">+{{ debet3 }}</td>
                        {% elseif debet3 < 0 %}
                            <td class="text-right text-danger">{{ debet3 }}</td>
                        {% else %}
                            <td class="text-right">{{ debet3 }}</td>
                        {% endif %}

                        {% set debet4 =  (item.paymentQuarter1 - item.paymentDeclared1) +
                                    (item.paymentQuarter2 - item.paymentDeclared2) +
                                    (item.paymentQuarter3 - item.paymentDeclared3) +
                                    (item.paymentQuarter4 - item.paymentDeclared4)%}

                        {# Дебет/Кредит 4 квартал #}
                        {% if debet4 > 0 %}
                            <td class="text-right text-success">+{{ debet4 }}</td>
                        {% elseif debet4 < 0 %}
                            <td class="text-right text-danger">{{ debet4 }}</td>
                        {% else %}
                            <td class="text-right">{{ debet4 }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

            <div class="mt-5 mb-5 row align-items-center">
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary">Сохранить</button>
                </div>
            </div>

        </form>

    </div>

{% endblock %}