{% extends 'layout.html.twig' %}

{% block title %}Учет взносов{% endblock %}

{% block content %}

    <div class="container-fluid">

        {% if mo is defined %}
            <h1>Учет взносов</h1>
            <h3>Выберите местное отделение</h3>

            <div class="row">
                {% for item in mo %}
                    <div class="col-4">
                        <a href="{{ path('accounting_mo', {'mo': item.id}) }}">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endblock %}