{% extends 'layout.html.twig' %}

{% block title %}Учет взносов{% endblock %}

{% block content %}

    <div class="container-fluid">

        {% if po is defined %}
            <h1>Учет взносов</h1>
            <h3>Выберите первичное отделение</h3>

            <div class="row">

                {% if mo.id == 23019 %}
                    {# Если Краснодарское МО - выводим с разделение по округам #}

                    {% for okrug in zo %}
                        <div class="col-12">
                            <h3>
                                <a data-toggle="collapse" href="#collapse-{{ okrug.id }}" role="button" aria-expanded="false" aria-controls="collapse-{{ okrug.id }}">
                                    {{ okrug.title }}
                                </a>
                            </h3>
                            <div class="collapse" id="collapse-{{ okrug.id }}">
                                <div class="row">
                                    {% for item in po %}
                                        {% if item.zoId == okrug.id %}
                                            <div class="col-sm-2 col-md-1">
                                                <a href="{{ path('accounting_po', {'po': item.id}) }}">{{ item.title }}</a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    {# Остальные МО - выводим как обычно #}
                    {% for item in po %}
                        <div class="col-3">
                            <a href="{{ path('accounting_po', {'po': item.id}) }}">{{ item.title }}</a>
                        </div>
                    {% endfor %}

                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}