{% extends 'base.html.twig' %}

{% block title %}Accounting{% endblock %}

{% block body %}
    <h1>Accounting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ accounting.id }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ accounting.year }}</td>
            </tr>
            <tr>
                <th>CountQuarter</th>
                <td>{{ accounting.countQuarter }}</td>
            </tr>
            <tr>
                <th>CountYear</th>
                <td>{{ accounting.countYear }}</td>
            </tr>
            <tr>
                <th>PaymentQuarter1</th>
                <td>{{ accounting.paymentQuarter1 }}</td>
            </tr>
            <tr>
                <th>PaymentQuarter2</th>
                <td>{{ accounting.paymentQuarter2 }}</td>
            </tr>
            <tr>
                <th>PaymentQuarter3</th>
                <td>{{ accounting.paymentQuarter3 }}</td>
            </tr>
            <tr>
                <th>PaymentQuarter4</th>
                <td>{{ accounting.paymentQuarter4 }}</td>
            </tr>
            <tr>
                <th>DateQuarter1</th>
                <td>{{ accounting.dateQuarter1 ? accounting.dateQuarter1|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateQuarter2</th>
                <td>{{ accounting.dateQuarter2 ? accounting.dateQuarter2|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateQuarter3</th>
                <td>{{ accounting.dateQuarter3 ? accounting.dateQuarter3|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateQuarter4</th>
                <td>{{ accounting.dateQuarter4 ? accounting.dateQuarter4|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('accounting_index') }}">back to list</a>

    <a href="{{ path('accounting_edit', {'id': accounting.id}) }}">edit</a>

    {{ include('accounting/_delete_form.html.twig') }}
{% endblock %}