{% extends 'layout.html.twig' %}

{% block title %}Доступ запрещен{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>Доступ запрещен</h1>
    <p>{{ message }}</p>
</div>

{% endblock %}