{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container mt-10">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>{{ 'security.login.title'|trans }}</h1>

                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form action="{{ path('login') }}" method="post">
                    <div>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.form.username.label'|trans }}"/>
                    </div>
                    <div>
                        <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'security.login.form.password.label'|trans }}"/>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                    <div class="row align-items-center">
                        <div class="col-6">
                            <button type="submit" class="btn btn-outline-primary">{{ 'security.login.form.submit'|trans }}
                                <i class="fas fa-align-justify"></i>
                            </button>
                        </div>
                        <div class="col-6 text-right">
                            <a href="{{ path('reset') }}" class="btn btn-link btn-sm">{{ 'security.reset.fogot'|trans }}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}