{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container mt-10">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>{{ 'security.reset.title'|trans }}</h1>

                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
                {% else %}

                    {{ form_errors(AuthNewPasswordForm) }}
                    {{ form_start(AuthNewPasswordForm) }}
                    {{ form_widget(AuthNewPasswordForm) }}
                    <button type="submit" class="btn btn-outline-primary">{{ 'security.resetNewPassword.form.submit'|trans }}</button>
                    {{ form_end(AuthNewPasswordForm) }}

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}