{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container mt-10">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>{{ 'security.registry.title'|trans }}</h1>

                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error|trans }}</div>
                {% endif %}

                {{ form_errors(AuthRegistryForm) }}
                {{ form_start(AuthRegistryForm) }}
                {{ form_widget(AuthRegistryForm) }}
                <button type="submit" class="btn btn-outline-primary">{{ 'security.registry.form.submit'|trans }}</button>
                {{ form_end(AuthRegistryForm) }}
            </div>
        </div>
    </div>

{% endblock %}