{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container mt-10">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1>{{ 'security.resetSuccess.title'|trans }}</h1>
                <p>{{ 'security.resetSuccess.anons'|trans }}</p>
            </div>
        </div>
    </div>

{% endblock %}