
{% if is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('member_confirm', {'id': member.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('confirm' ~ member.id) }}">
        <button class="btn btn-primary">Анкета проверена!</button>
    </form>
{% endif %}