{{ form_errors(form) }}
{{ form_start(form) }}

{# Первичное отделение и статус #}
<div class="row mb-6">
    <div class="col-md-8 mb-3">{{ form_row(form.po) }}</div>
    <div class="col-md-4">
        {% if form.status is defined %}
            {{ form_row(form.status) }}
        {% elseif member.lastName is defined %}
            <label>Статус</label>
            <h2 class="form-control-disabled">{{ member.statusList[member.status] is defined ? member.statusList[member.status] : '-' }}</h2>
        {% endif %}
    </div>
</div>

{# ФИО #}
<div class="row mb-6">
    <div class="col-md-4">
        {% if form.last_name is defined %}
            {{ form_row(form.last_name) }}
        {% elseif member.lastName is defined %}
            <label>Фамилия</label>
            <h2 class="form-control-disabled">{{ member.lastName }}</h2>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if form.first_name is defined %}
            {{ form_row(form.first_name) }}
        {% elseif member.firstName is defined %}
            <label>Имя</label>
            <h2 class="form-control-disabled">{{ member.firstName }}</h2>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if form.middle_name is defined %}
            {{ form_row(form.middle_name) }}
        {% elseif member.middleName is defined %}
            <label>Отчество</label>
            <h2 class="form-control-disabled">{{ member.middleName }}</h2>
        {% endif %}
    </div>

    <div class="col-md-4">{{ form_row(form.sex) }}</div>
    <div class="col-md-4">
        {{ form.birthday is defined ? form_row(form.birthday) : null }}

        {% if form.birthday is defined %}
            {{ form_row(form.birthday) }}
        {% elseif member.birthday is defined %}
            <label>День рождения</label>
            <h2 class="form-control-disabled">{{ member.birthday|date('d.m.Y') }}</h2>
        {% endif %}
    </div>
</div>

{# Адрес #}
<div class="row  mb-6">
    {# <div class="col-md-12">{{ form_row(form.kladr) }}</div> #}

    <div class="col-md-6">{{ form_row(form.city) }}</div>
    <div class="col-md-6">{{ form_row(form.street) }}</div>
    <div class="col-md-2">{{ form_row(form.house) }}</div>
    <div class="col-md-2">{{ form_row(form.block) }}</div>
    <div class="col-md-2">{{ form_row(form.flat) }}</div>
    <div class="col-md-2">{{ form_row(form.post) }}</div>
</div>

{# Паспортные данные #}
<div class="row mb-6">
    <div class="col-md-2">{{ form_row(form.passportSeries) }}</div>
    <div class="col-md-2">{{ form_row(form.passportNumber) }}</div>
    <div class="col-md-6">{{ form_row(form.passportDepartment) }}</div>
    <div class="col-md-2">{{ form_row(form.passportDate) }}</div>
</div>

{# Контактные данные #}
<div class="row mb-6">
    <div class="col-md-4">{{ form_row(form.phoneHome) }}</div>
    <div class="col-md-4">{{ form_row(form.phoneWork) }}</div>
    <div class="col-md-4">{{ form_row(form.phoneMobile) }}</div>
    <div class="col-md-4">{{ form_row(form.email) }}</div>
</div>

{# Образование и достижения #}
<div class="row mb-6">
    <div class="col-md-4">{{ form_row(form.education) }}</div>
    <div class="col-md-4">{{ form_row(form.degree) }}</div>
    <div class="col-md-4">{{ form_row(form.rank) }}</div>

    {# Работа и социальный статус #}
    <div class="col-md-6">{{ form_row(form.workPlace) }}</div>
    <div class="col-md-6">{{ form_row(form.workPost) }}</div>
    <div class="col-md-6">{{ form_row(form.socialCategory) }}</div>
    <div class="col-md-6">{{ form_row(form.workSphere) }}</div>
</div>

{# Участие в органах #}
<div class="row mb-6">
    <div class="col-md-2">{{ form_row(form.govermentMember) }}</div>
    <div class="col-md-3">{{ form_row(form.govermentDateStart) }}</div>
    <div class="col-md-3">{{ form_row(form.govermentDateEnd) }}</div>
    <div class="col-md-4">{{ form_row(form.govermentPlace) }}</div>
    <div class="col-md-4">{{ form_row(form.govermentLevel) }}</div>
    <div class="col-md-4">{{ form_row(form.govermentPost) }}</div>
</div>

{# Депутатство #}
<div class="row mb-6">
    <div class="col-md-2">{{ form_row(form.govermentDeputy) }}</div>
    <div class="col-md-4">{{ form_row(form.govermentDeputyLevel) }}</div>
    <div class="col-md-6">{{ form_row(form.govermentDeputyPlace) }}</div>
    <div class="col-md-4">{{ form_row(form.partyIn) }}</div>
    <div class="col-md-4">{{ form_row(form.partyPlace) }}</div>
    <div class="col-md-4">{{ form_row(form.protocol) }}</div>
    <div class="col-md-4">{{ form_row(form.pollingDepartment) }}</div>

    <div class="col-md-2">{{ form_row(form.adherentDate) }}</div>

</div>

<div class="row">
    <div class="col-md-3">{{ form_row(form.requestDate) }}</div>
    <div class="col-md-3">
        {% if form.acceptedDate is defined %}
            {{ form_row(form.acceptedDate) }}
        {% elseif member.acceptedDate is defined %}
            <label>Дата принятия</label>
            <h2 class="form-control-disabled">{{ member.acceptedDate is null ? null : member.acceptedDate|date('d.m.Y') }}</h2>
        {% endif %}
    </div>
    <div class="col-md-3">
        {% if form.partyTicket is defined %}
            {{ form_row(form.partyTicket) }}
        {% elseif member.partyTicket is defined %}
            <label>№ партийного билета</label>
            <h2 class="form-control-disabled">{{ member.partyTicket }}</h2>
        {% endif %}
    </div>
    <div class="col-md-3">
        {% if form.partyTicketDate is defined %}
            {{ form_row(form.partyTicketDate) }}
        {% elseif member.partyTicketDate is defined %}
            <label>Дата получения партийного билета</label>
            <h2 class="form-control-disabled">{{ member.partyTicketDate is null ? null : member.partyTicketDate|date('d.m.Y') }}</h2>
        {% endif %}
    </div>
    <div class="col-md-3">
        {% if form.partyExitDate is defined %}
            {{ form_row(form.partyExitDate) }}
        {% elseif member.partyExitDate is defined %}
            <label>Дата выбытия</label>
            <h2 class="form-control-disabled">{{ member.partyExitDate is null ? null : member.partyExitDate|date('d.m.Y') }}</h2>
        {% endif %}
    </div>
</div>

{{ form_widget(form) }}

<div class="mt-5 mb-6 row align-items-center">
    <div class="col">
        <button type="submit" class="btn btn-outline-primary">Отправить</button>
    </div>
    <div class="col text-right">
        <a href="{{ path('member_index') }}" class="btn btn-secondary btn-sm">Отмена</a>
    </div>
</div>
{{ form_end(form) }}

{# Динамическая подгрузка адресов
<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/css/suggestions.min.css" type="text/css" rel="stylesheet"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script> <![endif]-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/suggestions-jquery@17.12.0/dist/js/jquery.suggestions.min.js"></script>
<script type="text/javascript">
    $("#member_kladr").suggestions({
        token: "c3059afe8ceaa840907724fb3ea57a6b012ae8f9", type: "ADDRESS", count: 5,
        /* Вызывается, когда пользователь выбирает одну из подсказок */
        onSelect: function (suggestion) {
            $("#member_post").val(suggestion.data.postal_code);

            if (suggestion.data.settlement_with_type) {
                $("#member_city").val(suggestion.data.settlement_with_type);
            } else {
                $("#member_city").val(suggestion.data.city);
            }
            $("#member_street").val(suggestion.data.street);
            $("#member_house").val(suggestion.data.house);
            $("#member_block").val(suggestion.data.block);
        }
    });
</script>
#}