{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>Добавить члена партии</h1>

                {% include 'member/_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}