{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Удаление Члена партии</h1>

                <div class="alert alert-primary alert-danger" role="alert">
                    Вы действительно хотите удалить Челна партии?
                </div>


                <table class="w-50">
                    <tr>
                        <th>МО</th>
                        <td>{{ member.mo }}</td>
                    </tr>
                    <tr>
                        <th>ПО</th>
                        <td>{{ member.po }}</td>
                    </tr>
                    <tr>
                        <th>ФИО</th>
                        <td>{{ member.lastName }} {{ member.firstName }} {{ member.middleName }}</td>
                    </tr>
                    <tr>
                        <th>Дата рождения</th>
                        <td>{{ member.birthday|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <th>№ билета</th>
                        <td>{{ member.partyTicket }}</td>
                    </tr>
                    <tr>
                        <th>Статус</th>
                        <td>
                            {% if member.statusList[member.status] is defined %}
                                {{ member.statusList[member.status] }}
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <div class="mt-5">
                    {% include 'member/_delete_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}