{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <h2>Члены партии</h2>
        <p class="mb-4">
            <a href="{{ path('member_create') }}" class="btn btn-outline-primary btn-sm">добавить</a>
        </p>

        {{ form_start(filter) }}
        <div class="row">
            <div class="col">
                {{ form_widget(filter.mo) }}
            </div>
            <div class="col">
                {{ form_widget(filter.po) }}
            </div>
            <div class="col">
                {{ form_widget(filter.last_name) }}
            </div>
            <div class="col">
                {{ form_widget(filter.first_name) }}
            </div>
            <div class="col">
                {{ form_widget(filter.middle_name) }}
            </div>
            <div class="col">
                {{ form_widget(filter.party_ticket) }}
            </div>
            <div class="col">
                {{ form_widget(filter.status) }}
            </div>
            <div class="col">
                {{ form_widget(filter.birthday) }}
            </div>
            <div class="col">
                {{ form_widget(filter.passport_number) }}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary">Найти</button>
                {{ form_widget(filter.xls_report) }}
            </div>
        </div>
        {{ form_end(filter) }}

        <table id="memberSort" class="table table-sm table-allign-middle">
            <tr>
                <th>МО</th>
                <th>ПО</th>
                <th>
                    <a href="#" class="sort" data-field="lastName">Фамилия</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="firstName">Имя</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="middleName">Отчество</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="birthday">Дата рождения</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="partyTicket">№ билета</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="status">Статус</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="sex">Пол</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="acceptedDate">Дата принятия</a>
                </th>
                <th>
                    <a href="#" class="sort" data-field="appStatus">Анкета проверена?</a>
                </th>
                <th></th>
            </tr>
            {% for member in members %}
                <tr>
                    <td>{{ member.mo is null ? null : member.mo }}</td>
                    <td>{{ member.po is null ? null : member.po }}</td>
                    <td>{{ member.lastName }}</td>
                    <td>{{ member.firstName }}</td>
                    <td>{{ member.middleName }}</td>
                    <td>{{ member.birthday != null ? member.birthday|date('d.m.Y') : '' }}</td>
                    <td>{{ member.partyTicket }}</td>
                    <td>{{ member.statusList[member.status] is defined ? member.statusList[member.status] : '' }}</td>
                    <td>
                        {% if member.sex is null %}
                        {% elseif member.sex == 1 %}
                            Жен
                        {% elseif member.sex == 0 %}
                            Муж
                        {% endif %}
                    </td>
                    <td>{{ member.acceptedDate != null ? member.acceptedDate|date('d.m.Y') : '' }}</td>
                    <td class="text-center">
                        {% if member.appStatus == 1 %}
                            Да
                        {% else %}
                            Нет
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('member_read', {'id': member.id}) }}" class="btn btn-outline-success btn-sm">изменить</a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('member_delete_get', {'id': member.id}) }}" class="btn btn-outline-danger btn-sm" onclick="return confirm('Вы действительно хотите удалить запись?');">удалить</a>
                            {# <a href="{{ path('member_delete', {'id': member.id}) }}" class="btn btn-outline-danger btn-sm" onclick="returm confirm('Вы действительно хотите удалить запись?')">удалить</a> #}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        {% if members.haveToPaginate %}
            <div class="navigation text-center">
                <div class="row">
                    <div class="col-8">
                        {{ pagerfanta(members, 'twitter_bootstrap4_translated') }}
                    </div>
                    <div class="col-4 text-right">
                        Всего:
                        {{ members.getNbResults() }}
                    </div>
                </div>
            </div>
        {% endif %}

        <p>&nbsp;</p>
    </div>

{% endblock %}