{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1>Изменить члена партии</h1>

                {% include 'member/_form.html.twig' %}

            </div>

            <div class="col-md-4">

                {# Анкета проверена #}
                <div class="text-right">
                    {% if member.appStatus == false %}
                        {% include 'member/_confirm_form.html.twig' %}
                    {% endif %}
                </div>

                {# Выводим лог #}
                {% if member.log is not empty %}
                    <div class="alert alert-warning mt-5" role="alert">
                        <code class="text-secondary">
                            {% for log in member.log %}
                                <div>
                                    [{{ log.date|date('d.m.y H:i') }}]
                                    {{ log.message }}
                                </div>

                            {% endfor %}
                        </code>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}