{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <h2>Присвоение партийных билетов</h2>

        {{ form_start(filter) }}
        <div class="row mb-5">
            <div class="col">
                {{ form_widget(filter.mo) }}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-outline-primary">Найти</button>
            </div>
        </div>
        {{ form_end(filter) }}

        <form method="POST" action="{{ path('member_tickets') }}">
            <table id="memberSort" class="table table-sm table-allign-middle" style="width: auto">
                <tr>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>МО</th>
                    <th>ПО</th>
                    <th>№ билета</th>
                    <th>Дата выдачи</th>
                </tr>
                {% for member in members %}
                    <tr>
                        <td>
                            <a href="{{ path('member_read', {'id': member.id}) }}" target="_blank">
                                {{ member.lastName }}
                                {{ member.firstName }}
                                {{ member.middleName }}
                            </a>
                        </td>
                        <td>{{ member.birthday != null ? member.birthday|date('d.m.Y') : '' }}</td>
                        <td>{{ member.mo is null ? null : member.mo }}</td>
                        <td>{{ member.po is null ? null : member.po }}</td>
                        <td>
                            <input type="text" name="form[{{ member.id }}][partyTicket]"/>
                            {{ member.partyTicket }}
                        </td>
                        <td>
                            <input type="date" name="form[{{ member.id }}][partyTicketDate]" value='{{ "now"|date("Y-m-d") }}'/>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2">
                        <button type="submit" class="btn btn-outline-primary w-100">Сохранить</button>
                    </td>
                </tr>
            </table>

        </form>

        {% if members.haveToPaginate %}
            <div class="navigation text-center">
                <div class="row">
                    <div class="col-8">
                        {{ pagerfanta(members, 'twitter_bootstrap4_translated') }}
                    </div>
                    <div class="col-4 text-right">
                        Всего:
                        {{ members.getNbResults() }}
                    </div>
                </div>
            </div>
        {% endif %}

        <p>&nbsp;</p>
    </div>

{% endblock %}