/**
 * ReWirte default varibles
 */
$font-size-base: 1.5rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.8rem !default;
$font-size-sm: 1.3rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: 3rem;
$h2-font-size: 2rem !default;
$h3-font-size: 1.8rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.3rem !default;
$h6-font-size: 1rem !default;

/**
 * Переопределяем отступы
 */
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(

  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    7: ($spacer * 7),
    8: ($spacer * 8),
    9: ($spacer * 9),
    10: ($spacer * 10)
  ),
  $spacers
);

/**
 * Forms
 */
$input-btn-padding-x: 1.6rem;
$input-btn-padding-y: 0.8rem;
$border-radius: 0.4rem;
$input-btn-border-width: 3px;

.form-control {
  margin-bottom: 1rem;
  font-size: 1.5rem !important;

  &::placeholder {
    color: #ced4da !important;
  }
}

.form-control-disabled {
  border: 3px solid #ced4da;
  color: #495057;
  background: #eee;
  border-radius: 3px;
  margin-bottom: 1rem;
  margin: 0 0 1rem 0;
  padding: 0.8rem 1.6rem;
  line-height: 1.5;
  font-size: 1.5rem !important;
  min-height: 44px;

  &::placeholder {
    color: #ced4da !important;
  }
}
