/**
 * Делаем размер шрифта по умолчанию 62.5%, чтобы REM было кратно PX
 * 1rem = 10px
 * 1.6rem = 16px
 */

html {
  font-size: 62.5%;
}

@import "assets/sass/variables";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/select2/src/scss/core.scss";
/**
 * Навигация
 */

.logo {
  display: inline-block;
  background: url("../images/logo.png") no-repeat center center;
  background-size: contain;
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 10px;
}

.navbar {
  .nav-link {
    padding: 1rem 1rem !important;
    font-size: 1.5rem;
  }
}

/**
 * Хлебные крошки
 */

.breadcrumb {
  border-radius: 0;
  margin-top: -1.5rem;
  padding: 0.75rem 1.5rem;
}

/**
 * Typo
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/**
 * Tables
 */

.table {
  th {
    border: 0;
    border-bottom: 2px solid #ccc;
  }
  /**
   * Выравнивание по вертикали
   */
  &.table-allign-middle {
    th,
    td {
      vertical-align: middle;
    }
  }
}

.btn-sm {
  border-width: 2px;
}

/**
 * Forms
 */

.form-checkbox {
  padding: 1rem 0 2rem 0;
  input {
    margin-right: 0.5rem;
  }
  label {
    margin-right: 3rem;
  }
}

/**
 * Table
 */

.table1 {
  th {
    border: 0;
    background: #efefef;
    font-size: 1.3rem;
  }
  th,
  td {
    padding: 0.5rem 1.2rem;
  }
}

.accounting {
  input {
    width: 8rem;
    border: 1px solid #ced4da;
    &.date {
      width: auto;
    }
    &:read-only {
      border: 0;
      background: #fff;
    }
  }
  input[readonly] {
    border: 0;
    background: #fff;
  }
}

/**
 * autocomplete
 */

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #fff;
  overflow: auto;
}

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
}

.autocomplete-selected {
  background: #f0f0f0;
}

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
}

.autocomplete-group {
  padding: 2px 5px;
}

.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.select2-container--default {
  .select2-selection--single {
    border: 3px solid #ced4da;
  }
  .select2-selection--single {
    padding: 0.55rem 1.6rem;
    height: auto;
  }
  .select2-selection--single {
    .select2-selection__arrow {
      height: 44px;
    }
  }
}

/**
 *
 */

.sort {
  &::after {
    display: inline;
    margin-left: .2rem;
  }
  &.asc {
    &::after {
      display: inline;
      content: "▴";
    }
  }
  &.desc {
    &::after {
      display: inline;
      content: "▾";
    }
  }
  &:hover {
    text-decoration: none;
  }
}

#accounting_form {
    input {
        &:focus {
            box-shadow: 0 0 4px #007bff;
            border-color: #007bff;
        }
    }
}

.birthday-today-hint {
    display: block;
    margin-top: -8px;
    font-size: 1.3rem;
}