<form method="post" action="{{ path('department_po_delete', {'id': department_po.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department_po.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>