{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>

    {# <a class="btn btn-xs btn-default" href="{{ path('department_po_index') }}">отмена</a> #}
{{ form_end(form) }}