{% extends 'layout.html.twig' %}

{% block title %}Редектирование{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Редектирование ПО</h1>

        <div class="row">
            <div class="col-md-6">
                {{ include('department_po/_form.html.twig', {'button_label': 'Изменить'}) }}

                <div class="mt-10">
                    {{ include('department_po/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}