{% extends 'layout.html.twig' %}

{% block title %}Местные отделения{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Первичные отделения</h1>

    <a href="{{ path('department_po_new') }}" class="btn btn-outline-primary btn-sm">добавить</a>

    <div class="row">
        <div class="col-md-6">

            <table class="table">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Название</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for department_po in department_pos %}
                    <tr>
                        <td>{{ department_po.id }}</td>
                        <td>{{ department_po.title }}</td>
                        <td class="text-right">
                            <a href="{{ path('department_po_edit', {'id': department_po.id}) }}" class="btn btn-outline-success btn-sm">изменить</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Нет записей</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}