{% extends 'layout.html.twig' %}

{% block title %}Добавление{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Добавление ПО</h1>

    <div class="row">
        <div class="col-md-6">
            {{ include('department_po/_form.html.twig', {'button_label': 'Добавить'}) }}
        </div>
    </div>

{% endblock %}