{% extends 'base.html.twig' %}

{% block title %}DepartmentPo{% endblock %}

{% block body %}
    <h1>DepartmentPo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department_po.id }}</td>
            </tr>
            <tr>
                <th>MoId</th>
                <td>{{ department_po.moId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ department_po.title }}</td>
            </tr>
            <tr>
                <th>TitleMo</th>
                <td>{{ department_po.titleMo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_po_index') }}">back to list</a>

    <a href="{{ path('department_po_edit', {'id': department_po.id}) }}">edit</a>

    {{ include('department_po/_delete_form.html.twig') }}
{% endblock %}