{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <h2 class="mb-5">Скачать ZIP-архив ведомостей</h2>

        {% for file in files_zip %}

            <p class="mb-4">
                <a href="{{ asset(file.zipname) }}" class="btn btn-outline-primary btn-sm">
                    {{ file.name }}
                </a>
            </p>

        {% endfor %}

    </div>

{% endblock %}