<form method="post" action="{{ path('department_zo_delete', {'id': department_zo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department_zo.id) }}">
    <button class="btn">Delete</button>
</form>