{% extends 'layout.html.twig' %}

{% block title %}Внутригородские округа{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1>Округа</h1>

        <a href="{{ path('department_zo_new') }}" class="btn btn-outline-primary btn-sm">добавить</a>

        <table class="table">
            <thead>
                <tr>
                    {# <th></th> #}
                    <th>Название</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for department_zo in department_zos %}
                    <tr>
                        {# <td>{{ department_zo.id }}</td> #}
                        <td>
                            <a href="{{ path('department_zo_show', {'id': department_zo.id}) }}">
                                {{ department_zo.title }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('department_zo_edit', {'id': department_zo.id}) }}" class="btn btn-outline-success btn-sm">изменить</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Нет записей</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}