{% extends 'layout.html.twig' %}

{% block title %}Добавление{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Добавление округа</h1>

        <div class="row">
            <div class="col-md-6">
                {{ include('department_zo/_form.html.twig', {'button_label': 'Добавить'}) }}
            </div>
        </div>
    </div>

{% endblock %}