{% extends 'base.html.twig' %}

{% block title %}DepartmentZo{% endblock %}

{% block body %}
    <h1>DepartmentZo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department_zo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ department_zo.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_zo_index') }}">back to list</a>

    <a href="{{ path('department_zo_edit', {'id': department_zo.id}) }}">edit</a>

    {{ include('department_zo/_delete_form.html.twig') }}
{% endblock %}