{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <h1>Отделения</h1>

        {% if path_new is defined %}
            <a href="{{ path( path_new ) }}" class="btn btn-outline-primary btn-sm">добавить</a>
        {% endif %}

        {# <p class="mb-4">
            <a href="{{ path('user_create') }}" class="btn btn-outline-primary btn-sm">добавить пользователя</a>
        </p> #}

        {% if list is defined and list | length > 0 %}
            <div class="row">
                <div class="col-md-5">
                    <table class="table table-sm table-allign-middle">
                        <tr>
                            <th>ID</th>
                            <th>Название</th>
                            {% if po_count is defined %}
                                <th>Кол-во</th>
                            {% endif %}
                            <th></th>
                        </tr>
                        {% for i in list %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>
                                    {% if path is defined %}
                                        <a href="{{ path }}{{ i.id }}/">
                                            {{ i.title }}
                                        </a>
                                    {% else %}
                                        {{ i.title }}
                                    {% endif %}
                                </td>

                                {% if po_count is defined %}
                                    <td>
                                        {{ po_count[i.id] }}
                                    </td>
                                {% endif %}

                                <td class="text-right">
                                    {% if path_edit is defined %}
                                        <a href="{{ path( path_edit, {'id': i.id} ) }}" class="btn btn-outline-success btn-sm">
                                            Изменить
                                        </a>
                                    {% else %}
                                        {{ i.title }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        {% endif %}
    </div>
{% endblock %}