
<h1>{{ 'email.registry.title'|trans({"%username%": user.username}) }}</h1>

<p>{{ 'email.registry.anons'|trans }}</p>

<p><a href="{{ link }}">{{ link }}</a></p>

<p>
--<br />
<b>{{ 'email.footer'|trans }}</b>
</p>
