{% extends 'base.html.twig' %}

{% block body %}

    {# Шапка. Навигация и авторизация #}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <span class="logo"></span>
        </a>

        {# Меню в мобильной версии #}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('member_index') }}">Члены партии</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('member_tickets') }}">Партийные билеты</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('department_ro', {'ro':'23'}) }}">Отделения</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accounting_index', {'ro':'23'}) }}">Учет членских взносов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('report') }}">Отчеты</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset('user') }}">Пользователи</a>
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ asset('debug') }}">Ошибки</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <b class="nav-link">{{ app.user.username }}</b>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary" href="{{ asset('logout') }}">Выйти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {# Вывод сообщений #}
    <div class="container-fluid mt-4">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-primary alert-{{ label }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {# Хлебные крошки #}
    {% if bread_crumbs is defined and bread_crumbs | length > 1 %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white border-bottom border-light">
                {% for item in bread_crumbs %}
                    {% if loop.last %}
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ item.name }}
                        </li>
                    {% else %}
                        <li class="breadcrumb-item">
                            <a href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    {% endif %}

    {% block content %}{% endblock %}
{% endblock %}