<form method="post" action="{{ path('department_mo_delete', {'id': department_mo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ department_mo.id) }}">
    <button class="btn btn-danger">Удалить</button>
</form>