{% extends 'layout.html.twig' %}

{% block title %}Редактирование{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Редактирование МО</h1>

    <div class="row">
        <div class="col-md-6">
            {{ include('department_mo/_form.html.twig', {'button_label': 'Изменить'}) }}

            <div class="mt-10">
                {{ include('department_mo/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

</div>
{% endblock %}