{% extends 'layout.html.twig' %}

{% block title %}Местные отделения{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Местные отделения</h1>

    <a href="{{ path('department_mo_new') }}" class="btn btn-outline-primary btn-sm">добавить</a>

    <div class="row">
        <div class="col-md-6">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Название</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for department_mo in department_mos %}
                    <tr>
                        <td>{{ department_mo.id }}</td>
                        <td>{{ department_mo.title }}</td>
                        <td class="text-right">
                            <a href="{{ path('department_mo_edit', {'id': department_mo.id}) }}" class="btn btn-outline-success btn-sm">изменить</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Нет записей</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}