{% extends 'base.html.twig' %}

{% block title %}DepartmentMo{% endblock %}

{% block body %}
    <h1>DepartmentMo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ department_mo.id }}</td>
            </tr>
            <tr>
                <th>RoId</th>
                <td>{{ department_mo.roId }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ department_mo.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('department_mo_index') }}">back to list</a>

    <a href="{{ path('department_mo_edit', {'id': department_mo.id}) }}">edit</a>

    {{ include('department_mo/_delete_form.html.twig') }}
{% endblock %}