{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Добавить дользователя</h1>

                {{ form_errors(form) }}
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="mt-5 row align-items-center">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary">Добавить</button>
                    </div>
                    <div class="col text-right">
                        <a href="{{ path('user_index') }}" class="btn btn-secondary btn-sm">Отмена</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}