{% extends 'layout.html.twig' %}

{% block content %}

    <div class="container-fluid">

        <h2>Пользователи</h2>
        <p class="mb-4">
            <a href="{{ path('user_create') }}" class="btn btn-outline-primary btn-sm">добавить пользователя</a>
        </p>

        <table class="table table-sm table-allign-middle w-75">
            <tr>
                <th>Логин</th>
                <th>E-mail</th>
                <th>Имя</th>
                <th>МО</th>
                <th>Роли</th>
                <th>Активен?</th>
                <th></th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.departmentMo }}</td>
                    <td>
                        {% for role in user.roles %}
                            <div>{{ user.roleslist[role] }}</div>
                        {% endfor %}
                    </td>
                    <td class="text-center">
                        {% if user.isActive == 1 %}Да{% else %}Нет{% endif %}
                    </td>
                    <td class="text-right">
                        <a href="{{ path('user_read', {'id': user.id}) }}" class="btn btn-outline-success btn-sm">изменить</a>
                        <a href="{{ path('user_read', {'id': user.id}) }}" class="btn btn-outline-danger btn-sm">удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}