{% extends 'layout.html.twig' %}

{% block title %}Отчеты{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1 class="mb-5">Отчеты</h1>

        <h3 class="mb-5">
            <a href="{{ path('report1_filter') }}">Форма 1. Ведомость уплаты взносов за квартал.</a>
        </h3>

        <h3 class="mb-5">
            <a href="{{ path('report2_filter') }}">Форма 2. Отчет об уплате взносов за период по Местному отделению</a>
        </h3>

        {% if is_granted('ROLE_ADMIN') %}
            <h3 class="mb-5">
                <a href="{{ path('report3_filter') }}">Форма 3. Реестр местных отделений Партии "ЕДИНАЯ РОССИЯ"</a>
            </h3>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <h3 class="mb-5">
                <a href="{{ path('report4_filter') }}">Форма 4. Отчет приема в партию за период</a>
            </h3>
        {% endif %}

        <h3 class="mb-5">
            <a href="{{ path('report41_filter') }}">Форма 4.1 Отчет приема в партию за период по Местному отделению</a>
        </h3>

        {% if is_granted('ROLE_ADMIN') %}
            <h3 class="mb-5">
                <a href="{{ path('report5_filter') }}">Форма 5. Количественный и качественный состав членов Партии</a>
            </h3>
        {% endif %}

        <h3 class="mb-5">
            <a href="{{ path('report9_filter') }}">Форма 9. Ведомость об уплате взносов по Первичным отделениям за квартал</a>
        </h3>

        {% if is_granted('ROLE_ADMIN') %}
            <h3 class="mb-5">
                <a href="{{ path('report10_filter') }}">Форма 10. Сверка уплаты по всем членам партии за период по Местному отделению</a>
            </h3>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <h3 class="mb-5">
                <a href="{{ path('report12_filter') }}">Форма 12. Ведомость выдачи партийных билетов</a>
            </h3>
        {% endif %}

        {#
        <h3>
            <a href="{{ path('report_revise') }}">Сверка</a>
        </h3>
        #}

    </div>

{% endblock %}