{% extends 'layout.html.twig' %}

{% block title %}Отчеты{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1 class="mb-5">Отчеты</h1>

        <h3 class="mb-5">
            Форма 4. Отчет приема в партию за период по ПО
        </h3>

        <div class="row">
            <div class="col-4">
                {{ form_errors(form) }}
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="mt-5 mb-5 row align-items-center">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary">Создать отчет</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </div>

{% endblock %}