{% extends 'layout.html.twig' %}

{% block title %}Отчеты{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1 class="mb-5">Отчеты</h1>

        <h3 class="mb-5">
            Форма 1. Ведомость уплаты взносов за квартал.
        </h3>

        <div class="row">
            <div class="col-4">
                <h3 class="mb-5">
                    Скачать XLS-ведомость по Первичному отделению
                </h3>

                {{ form_errors(form) }}
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <div class="mt-5 mb-5 row align-items-center">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary">Скачать XLS</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            <div class="col-4 offset-2">
                <h3 class="mb-5">
                    Скачать ZIP-архив ведомостей по Местному отделению
                </h3>

                {{ form_errors(form2) }}
                {{ form_start(form2) }}
                {{ form_widget(form2) }}

                <div class="mt-5 mb-5 row align-items-center">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-primary">Скачать ZIP</button>
                    </div>
                </div>
                {{ form_end(form2) }}
            </div>
        </div>

    </div>

{% endblock %}