{% extends 'layout.html.twig' %}

{% block title %}Отчеты{% endblock %}

{% block content %}

    <div class="container-fluid">
        <h1>Отчеты</h1>

        {# Выводим первичные отделения #}
        {% if mo is defined %}
            <h2>Сверка</h2>
            <h3>Выберите отделение</h3>

            <div class="row">
                {% for item in mo %}
                    <div class="col-3">
                        <a href="{{ path('report_revise_mo', {'mo': item.id}) }}">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {# Выводим первичные отделения #}
        {% if po is defined %}
            <h2>Сверка</h2>
            <h3>Выберите отделение</h3>

            <div class="row">
                {% for item in po %}
                    <div class="col-3">
                        <a href="{{ path('report_revise_po', {'po': item.id}) }}">{{ item.title }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

{% endblock %}